* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

   /* Full-page styling */
body {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    background-color: rgb(7, 161, 182);
    color: black;
    font-family: Arial, sans-serif;
    text-align: center;
}

   /* Centered content */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px; /* Space between elements */
}

   /* Style for buttons */
button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background-color: rgb(0, 204, 255);
    color: black;
}
    /*Style for Picture */
.imgMain {

    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    margin-bottom: 15px;
}